*.sdf
*.ncb
*.opensdf
*.suo
*.user
*.aps
*.ipch
Debug/
Release/
obj/

!/NativeViewerTest/NativeViewerTest/bin/Debug/
!/NativeViewerTest/NativeViewerTest/bin/Release/
!/NativeViewerTest8/NativeViewerTest8/bin/Debug/
!/NativeViewerTest8/NativeViewerTest8/bin/Release/
!/NativeViewer10/NativeViewerLauncher/bin/Debug/
!/NativeViewer10/NativeViewerLauncher/bin/Release/
!/NativeViewer11/NativeViewerLauncher/bin/Debug/
!/NativeViewer11/NativeViewerLauncher/bin/Release/