*.sdf
*.opensdf
*.suo
*.user
*.aps
*.ipch
Debug/
Release/
obj/

!/NativeViewerTest/NativeViewerTest/bin/Debug/
!/NativeViewerTest/NativeViewerTest/bin/Release/
!/NativeViewer/NativeViewerLauncher/bin/Debug/
!/NativeViewer/NativeViewerLauncher/bin/Release/