<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NativeViewerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NativeViewerGUI.Properties.Settings>
            <setting name="InterpModeStretch" serializeAs="String">
                <value>HighQualityBilinear</value>
            </setting>
            <setting name="InterpModeShrink" serializeAs="String">
                <value>NearestNeighbor</value>
            </setting>
            <setting name="AutoSizeMin" serializeAs="String">
                <value>160, 120</value>
            </setting>
            <setting name="AutoSizeMax" serializeAs="String">
                <value>640, 480</value>
            </setting>
        </NativeViewerGUI.Properties.Settings>
    </userSettings>
</configuration>